## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [2]:
"""commit yor shit!yikes that was close work in prgress"""

import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')

df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/client_dataset.csv'

In [ ]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [ ]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [ ]:
# Use this space to do any additional research
# and familiarize yourself with the data.
#df.dtypes
#df.columns
#df.rows

In [ ]:
# What three item categories had the most entries?

df['category'].value_counts().head(3)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [ ]:
# For the category with the most entries,
# which subcategory had the most entries?

subcategory_df =  df.loc[(df['category'] == 'consumables')]
subcategory_df['subcategory'].value_counts().head(1)




### subcat_df = df.loc(consumables).... continue with cubcat_df[value...]

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [ ]:
# Which five clients had the most entries in the data?
df['client_id'].value_counts().head(5)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [ ]:
# Store the client ids of those top 5 clients in a list.

list(df['client_id'].value_counts().head(5).index)

[33615, 66037, 46820, 38378, 24741]

In [ ]:
# How many total units (the qty column) did the, client with the most entries order order?
totalunits_df = df.loc[df['client_id'] == 33615, 'qty'].sum()
totalunits_df

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [ ]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty
df['line_subtotal'] = df['unit_price'] * df['qty']
df[['unit_price', 'qty', 'line_subtotal']].head(2)

   unit_price  qty  line_subtotal
0     1096.80  105      115164.00
1       24.95   21         523.95

In [ ]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.
order_weight = df['unit_weight'] * df['qty']

df['order_weight'] = order_weight

def shipping_rate(t_order_weight):
    if t_order_weight > 50:
        return t_order_weight * 7
    else: 
        return t_order_weight * 10 
    

df[['final_shipping']] = df['t_order_weight'].apply(shipping_rate)
df[['unit_price', 'unit_weight', 'qty', 'total_weight', 'final_shipping']].head(3)

KeyError: 't_order_weight'

In [ ]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%
sales_tax_rate = 1.0925
df['total_price' ] = (df['line_subtotal'] + df['shipping_price']) * sales_tax_rate
df['total_price'] = df['total_price'].round(2)
df[['line_subtotal', 'shipping_price', 'total_price']].head(3)

KeyError: 'shipping_price'

In [ ]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).

df['line_cost'] = df['unit_cost'] * df['qty'] + df['shipping_price']
df['line_cost', 'unit_cost', 'qty', 'shipping_price'].head(3)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping_price,line_price,line_cost
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08,85597.05
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,31.29,312.90,914.26,629.79
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,65.52,458.64,1077.12,765.18

In [ ]:
# Create a column for the profit of
# each line using line cost and line price
df['line_profit'] = df['total_price'] - df['line_cost']
df[['line_profit', 'total_price', 'line_cost']].head(3)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping_price,line_price,line_cost,line_profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08,85597.05,46242.03
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,15.09,1.49,21,0,523.95,31.29,312.90,914.26,629.79,284.47
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,7.86,1.68,39,6,527.28,65.52,458.64,1077.12,765.18,311.94

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [ ]:
# Check your work using the totals above

def find_total_price(order_id):
    return df.loc[df['order_id'] == order_id, 'total_price'].sum()

order_ids = [2742071, 2173913, 6128929]

for order_id in order_ids:
    total_price_found =  find_total_price(order_id)
    print(f"Order {order_id} total: ${total_price_found:.2f}")

NameError: name 'df' is not defined

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [ ]:
# How much did each of the top 5 clients, by quantity, spend?
# Check your work from Part 1 for client ids.
def find_total_price(client_id):
    return df.loc[df['client_id'] == client_id, 'total_price'].sum()

top5_client_id = [33615, 66037,46820, 38378, 24741]

for client_id in top5_client_id:
    total_spent = find_total_price(client_id)
    print(f'{client_id}: ${total_spent:.2f}')

33615: $8377308.52
66037: $10259514.79
46820: $9743794.36
38378: $12906550.87
24741: $82268892.02

In [ ]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.

brandon's code:

def total_units_purchased(client_id):
    return df.loc[df['client_id'] == client_id, 'qty'].sum()

def total_shipping_price(client_id):
    total_weight = df.loc[df['client_id'] == client_id, 'unit_weight'] * df.loc[df['client_id'] == client_id, 'qty']
    shipping_price = total_weight.apply(lambda weight: weight * 7 if weight > 50 else weight * 10)
    return shipping_price.sum()

def total_revenue(client_id):
    return df.loc[df['client_id'] == client_id, 'total_price'].sum()

def total_profit(client_id):
    line_cost = df.loc[df['client_id'] == client_id, 'unit_cost'] * df.loc[df['client_id'] == client_id, 'qty'] + df.loc[df['client_id'] == client_id, 'shipping_price']
    line_profit = df.loc[df['client_id'] == client_id, 'total_price'] - line_cost
    return line_profit.sum()

def calculate_line_cost(client_id):
    unit_cost = df.loc[df['client_id'] == client_id, 'unit_cost']
    qty = df.loc[df['client_id'] == client_id, 'qty']
    shipping_price = df.loc[df['client_id'] == client_id, 'shipping_price']
    
    line_cost = unit_cost * qty + shipping_price
    return line_cost.sum()

top_5_client_ids = [33615, 66037, 46820, 38378, 24741]

client_data = []

for client_id in top_5_client_ids:
    total_units_purchased_val = total_units_purchased(client_id)
    total_shipping_price_val = total_shipping_price(client_id)
    total_revenue_val = total_revenue(client_id)
    total_profit_val = total_profit(client_id)
    calculate_line_cost_val = calculate_line_cost(client_id)
    
    client_info = {
        "client_id": client_id,
        "qty": total_units_purchased_val,
        "shipping_price": total_shipping_price_val,
        "line_price": total_revenue_val,
        "line_cost": calculate_line_cost_val,
        "line_profit": total_profit_val
    }
    
    client_data.append(client_info)

summary_df = pd.DataFrame(client_data)

summary_df = summary_df.sort_values(by='line_profit', ascending=False)
summary_df

   client_id     qty  shipping_price   line_price    line_cost  line_profit
4      24741  239862      5126448.37  82268892.02  45688899.71  36579992.31
3      38378   73667      3429455.40  12906550.87   9634720.98   3271829.89
1      66037   43018      1395151.85  10259514.79   7004482.98   3255031.81
2      46820   75768      1601448.84   9743794.36   7007191.64   2736602.72
0      33615   64313      1828984.89   8377308.52   6175313.91   2201994.61

In [ ]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.
def total_units_purchased(client_id):
    return df.loc[df['client_id'] == client_id, 'qty'].sum()

def total_shipping_price(client_id):
    total_weight = df.loc[df['client_id'] == client_id, 'unit_weight'] * df.loc[df['client_id'] == client_id, 'qty']
    shipping_price = total_weight.apply(lambda weight: weight * 7 if weight > 50 else weight * 10)
    return shipping_price.sum()

def total_revenue(client_id):
    return df.loc[df['client_id'] == client_id, 'total_price'].sum()

def total_profit(client_id):
    line_cost = df.loc[df['client_id'] == client_id, 'unit_cost'] * df.loc[df['client_id'] == client_id, 'qty'] + df.loc[df['client_id'] == client_id, 'shipping_price']
    line_profit = df.loc[df['client_id'] == client_id, 'total_price'] - line_cost
    return line_profit.sum()

def calculate_line_cost(client_id):
    unit_cost = df.loc[df['client_id'] == client_id, 'unit_cost']
    qty = df.loc[df['client_id'] == client_id, 'qty']
    shipping_price = df.loc[df['client_id'] == client_id, 'shipping_price']
    
    line_cost = unit_cost * qty + shipping_price
    return line_cost.sum()

top_5_client_ids = [33615, 66037, 46820, 38378, 24741]

client_data = []

for client_id in top_5_client_ids:
    total_units_purchased_val = total_units_purchased(client_id)
    total_shipping_price_val = total_shipping_price(client_id) 
    total_revenue_val = total_revenue(client_id)   
    total_profit_val = total_profit(client_id)   
    calculate_line_cost_val = calculate_line_cost(client_id)   
    
    client_info = {
        "Client ID": client_id,
        "Units": total_units_purchased_val,
        "Shipping": total_shipping_price_val,
        "Total Revenue": total_revenue_val,
        "Total Cost": calculate_line_cost_val,
        "Total Profit": total_profit_val
    }
    
    client_data.append(client_info)

summary_df = pd.DataFrame(client_data)

columns_to_convert = ['Shipping', 'Total Revenue', 'Total Cost', 'Total Profit']
summary_df_display = summary_df.copy()

# Apply the formatting to the specific columns
summary_df_display[columns_to_convert] = summary_df_display[columns_to_convert].apply(lambda x: x.apply(lambda val: f'${val / 1_000_000:.2f}M'))

# Sort the DataFrame by 'Total Profit' column
summary_df_sorted = summary_df_display.sort_values(by='Total Profit', ascending=False)
summary_df_sorted

In [ ]:
# Sort the updated data by "Total Profit" form highest to lowest
summary_df_sorted = summary_df_display.sort_values(by='Total Profit', ascending=False)
summary_df_sorted

   Client ID   Units Shipping Total Revenue Total Cost Total Profit
4      24741  239862   $5.13M       $82.27M    $45.69M      $36.58M
3      38378   73667   $3.43M       $12.91M     $9.63M       $3.27M
1      66037   43018   $1.40M       $10.26M     $7.00M       $3.26M
2      46820   75768   $1.60M        $9.74M     $7.01M       $2.74M
0      33615   64313   $1.83M        $8.38M     $6.18M       $2.20M

In [ ]:
# write a brief 2-3 sentence summary of your findings